<div id='calendar'></div>
<app-dialog-modal></app-dialog-modal>

<div class="container">
  <h1>Holiday List</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Country</th>
      <th>Region</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hd of holidays">
      <td>{{ hd.name }}</td>
      <td>{{ hd.start }}</td>
      <td>{{hd.end}}</td>
      <td>{{ hd.country }}</td>
      <td>{{hd.region}}</td>
    </tr>
    </tbody>
  </table>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>
