<!--
<div id="o" style="display:block;top: 400px;left: 400px;position: absolute">
  <p>hello</p>
</div>
-->



<div id='calendar'></div>

<div class="container">
  <h1>Holiday List</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Country</th>
      <th>Region</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hd of holidays">
      <td>{{ hd.name }}</td>
      <td>{{ hd.start }}</td>
      <td>{{hd.end}}</td>
      <td>{{ hd.country }}</td>
      <td>{{hd.region}}</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Add Unavailability</h2>

    <label class="container">
      <br>
      From:<input class="text"><br>
      To:<input class="text">
      <input class="title" type="radio" checked="checked" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <br>
      Repeat<input class="text">weeks
      <input class="title" type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="container">Repeat always
      <input class="title" type="radio" name="radio">
      <span class="checkmark"></span>
    </label>

    <P>Reasons:</P>
    <select>
      <option value="0">Holiday</option>
      <option value="1">Sick</option>
      <option value="2">Travel</option>
    </select>

    <button>Save</button>
    <button>Cancel</button>

  </div>
</div>

