<div id='calendar'></div>

<ng-template #rooster let-c="close" let-d="dismiss">
<div class="modal-header">
  <h4 class="modal-title">Project Roster</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- From date unavailability  -->
  <ngb-tabset>
  <ngb-tab title="Assign Employee">
    <ng-template ngbTabContent>
      <p>Assign Employees</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Time Set-Up</ng-template>
    <ng-template ngbTabContent>
      <div class="form-group row">
        <label for="example-date-input" class="col-4 col-form-label">From:</label>
        <div class="col-8">
          <input class="form-control" type="time" [(ngModel)]="fromDate" id="example-date-input">
        </div>
      </div>
      <!-- To date unavailability  -->
      <div class="form-group row">
        <label for="example-date-input" class="col-4 col-form-label">To:</label>
        <div class="col-8">
          <input class="form-control" type="time" [(ngModel)]="toDate" (ngModelChange)="toDateChange($event)" id="example-date-input">
        </div>
      </div>
      <hr />

      <div class="form-group row">
          <div class="input-group">
            <div class="col-4">
              <input type="radio" name="repeat" (click)="radioBtn1='repeat'" aria-label="Radio button for following text input">
            </div>
            <label for="example-date-input" class="col-2 col-form-label">Repeat</label>
          <div class="col-2">
            <input type="number" [(ngModel)]="repeatVal" class="form-control" placeholder="0">
          </div>
            <div class="col-2 col-form-label">Weeks</div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<pre>{{closeResult}}</pre>

<!-- delete event popup window -->

<ng-template #deletePopWindow let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirm to delete this event?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
  </div>

  <div class="modal-footer">
    <!-- need a button for Confirm(submit function) here-->
    <button type="button" class="btn btn-primary" id="deletebtn" (click)="deleteEvent();c('Close click')">Confirm</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
  </div>
  </ng-template>
  <hr>

  <pre>{{closeResult}}</pre>
<!-- end -->
